*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:40px 20px;
background:linear-gradient(
135deg,
#2563eb,
#1e40af);
}

.logo{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
}

.logo i{
font-size:40px;
}

header h1{
font-size:2rem;
}

.container{
max-width:1200px;
margin:auto;
padding:20px;
}

.search-box{
margin-bottom:30px;
}

.search-box input{
width:100%;
padding:15px;
border:none;
border-radius:12px;
font-size:16px;
}

.cards{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:16px;
text-align:center;
transition:0.3s;
box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.card:hover{
transform:translateY(-8px);
}

.card i{
font-size:40px;
margin-bottom:15px;
color:#3b82f6;
}

.card h2{
margin-bottom:10px;
}

.card p{
color:#cbd5e1;
margin-bottom:20px;
}

.card a{
display:inline-block;
text-decoration:none;
background:#2563eb;
color:white;
padding:12px 20px;
border-radius:10px;
font-weight:bold;
}
